/* hier worden de stijl van de kleuren white, grey en het dambord gedefinieerd */

.chessboard {
  width: 496px;
  height: 496px;
  margin: 115px;
  border: 7px solid #000000;
}
.white,
.grey {
  float: left;
  width: 62px;
  height: 62px;
  font-size: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.white {
  background-color: #d6d6d6;
}
.grey {
  background-color: #5c5c5c;
}
