
.app {

    display: block;
    position: relative;
    padding:30px;
    border:1px solid;
    box-shadow: 4px 4px 4px black;
    background: #2b0e00;
    background-image: url("../assets/background.webp");
    border-radius: 5px;
}


.board {
    position: absolute;
    border: 5px inset rgba(0, 0, 0, .5);
    background-image: url("../assets/lightwood.jpg");
    border-radius: 4px;
    filter: sepia(.2);
}

.piece {
    border-radius: 50%;
    position: absolute;
    filter: drop-shadow(5px 5px 8px #1c1612);
}

.black-piece {
    background-image: url("../assets/blackpiece.jfif");


}

.white-piece {
    background-image: url("../assets/whitepiece.jpg");

}

.tile {
    position: absolute;
    background-image: url("../assets/darkwood.jpg");
    border: 1px inset rgba(255, 255, 255, .5);
    filter: sepia(70%) opacity(.7);

}
